In [1]:
#import the dependencies
import pandas as pd
import gmaps
import requests
#import the api key
from config import g_key

In [2]:
#store the csv you saved created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cape Town,ZA,2021-04-06 20:01:38,-33.9258,18.4232,66.00,82,0,4.61
1,1,Miguel Calmon,BR,2021-04-06 20:04:06,-11.4289,-40.5950,83.70,46,17,6.53
2,2,Arraial Do Cabo,BR,2021-04-06 20:03:12,-22.9661,-42.0278,78.80,73,20,12.66
3,3,Rikitea,PF,2021-04-06 20:02:03,-23.1203,-134.9692,76.78,72,9,10.11
4,4,Ushuaia,AR,2021-04-06 20:02:17,-54.8000,-68.3000,51.80,62,75,5.75

In [3]:
#configure gmaps to use your google api key
gmaps.configure(api_key=g_key)

In [4]:
#get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [5]:
#assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat", "Lng"]]
#get the maximum temperature
max_temp = city_data_df["Max Temp"]
#assign the figure varuable
fig = gmaps.figure()
#assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#add the heatmap layer
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [8]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Miguel Calmon,BR,2021-04-06 20:04:06,-11.4289,-40.5950,83.70,46,17,6.53
2,2,Arraial Do Cabo,BR,2021-04-06 20:03:12,-22.9661,-42.0278,78.80,73,20,12.66
3,3,Rikitea,PF,2021-04-06 20:02:03,-23.1203,-134.9692,76.78,72,9,10.11
6,6,Adrar,MR,2021-04-06 20:04:07,20.5022,-10.0711,84.13,14,2,6.22
7,7,Bambous Virieux,MU,2021-04-06 20:02:04,-20.3428,57.7575,78.01,94,40,2.30
13,13,Saint-Philippe,RE,2021-04-06 20:03:22,-21.3585,55.7679,78.80,73,0,5.75
15,15,Colon,PA,2021-04-06 20:04:09,9.3592,-79.9014,86.00,70,90,8.01
23,23,Kapaa,US,2021-04-06 20:02:15,22.0752,-159.3190,75.20,57,75,24.16
25,25,Axim,GH,2021-04-06 20:03:26,4.8699,-2.2405,80.46,85,5,5.73
30,30,Dondo,MZ,2021-04-06 20:04:12,-19.6094,34.7431,78.80,65,0,5.21

In [9]:
preferred_cities_df.count()

City_ID       192
City          192
Country       190
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Miguel Calmon,BR,2021-04-06 20:04:06,-11.4289,-40.5950,83.70,46,17,6.53
2,2,Arraial Do Cabo,BR,2021-04-06 20:03:12,-22.9661,-42.0278,78.80,73,20,12.66
3,3,Rikitea,PF,2021-04-06 20:02:03,-23.1203,-134.9692,76.78,72,9,10.11
6,6,Adrar,MR,2021-04-06 20:04:07,20.5022,-10.0711,84.13,14,2,6.22
7,7,Bambous Virieux,MU,2021-04-06 20:02:04,-20.3428,57.7575,78.01,94,40,2.30
13,13,Saint-Philippe,RE,2021-04-06 20:03:22,-21.3585,55.7679,78.80,73,0,5.75
15,15,Colon,PA,2021-04-06 20:04:09,9.3592,-79.9014,86.00,70,90,8.01
23,23,Kapaa,US,2021-04-06 20:02:15,22.0752,-159.3190,75.20,57,75,24.16
25,25,Axim,GH,2021-04-06 20:03:26,4.8699,-2.2405,80.46,85,5,5.73
30,30,Dondo,MZ,2021-04-06 20:04:12,-19.6094,34.7431,78.80,65,0,5.21

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head()

              City Country  Max Temp      Lat       Lng           Hotel Name
1    Miguel Calmon      BR     83.70 -11.4289  -40.5950      Pousada Guiomar
2  Arraial Do Cabo      BR     78.80 -22.9661  -42.0278  Pousada Porto Praia
3          Rikitea      PF     76.78 -23.1203 -134.9692       Pension Maro'i
6            Adrar      MR     84.13  20.5022  -10.0711
7  Bambous Virieux      MU     78.01 -20.3428   57.7575       Casa Tia Villa

In [30]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [29]:
 #Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]