## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Yulara,AU,-25.2406,130.9889,62.60,55,1,5.75,clear sky
1,1,Jamestown,US,42.0970,-79.2353,66.20,45,20,3.44,few clouds
2,2,Kapaa,US,22.0752,-159.3190,75.20,57,75,23.02,broken clouds
3,3,Bonito,BR,-21.1211,-56.4819,79.61,50,92,5.77,overcast clouds
4,4,Ribeira Grande,PT,38.5167,-28.7000,60.48,86,13,8.86,few clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?  75
What is the maximum temperature you would like for your trip?  90

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                236
City                   236
Country                236
Lat                    236
Lng                    236
Max Temp               236
Humidity               236
Cloudiness             236
Wind Speed             236
Current Description    236
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kapaa,US,75.20,broken clouds,22.0752,-159.3190,
3,Bonito,BR,79.61,overcast clouds,-21.1211,-56.4819,
5,Padang,ID,75.20,moderate rain,-0.9492,100.3543,
12,Georgetown,MY,79.00,few clouds,5.4112,100.3354,
14,Rikitea,PF,77.29,clear sky,-23.1203,-134.9692,
15,Tanout,NE,82.87,broken clouds,14.9709,8.8879,
23,Bandarbeyla,SO,77.72,broken clouds,9.4942,50.8122,
26,Umarkot,PK,77.74,clear sky,25.3616,69.7362,
30,Tefe,BR,82.40,few clouds,-3.3542,-64.7114,
36,Meulaboh,ID,76.80,overcast clouds,4.1363,96.1285,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [38]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(how="any")
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Kapaa,US,75.20,broken clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
3,Bonito,BR,79.61,overcast clouds,-21.1211,-56.4819,Marruá Hotel
5,Padang,ID,75.20,moderate rain,-0.9492,100.3543,Mercure Padang
12,Georgetown,MY,79.00,few clouds,5.4112,100.3354,Cititel Penang
14,Rikitea,PF,77.29,clear sky,-23.1203,-134.9692,Pension Maro'i
...,...,...,...,...,...,...,...
679,Austin,US,84.20,scattered clouds,30.2672,-97.7431,The Driskill - In the Unbound Collection by Hyatt
681,Sedam,IN,81.57,clear sky,17.1773,77.2824,Lakshmi Krupa
682,Axim,GH,79.95,clear sky,4.8699,-2.2405,AXIM BEACH RESORT AND SPA
685,Nouakchott,MR,75.20,clear sky,18.0858,-15.9785,HOTEL IMAN فندق إيمان
686,Pundaguitan,PH,80.58,overcast clouds,6.3711,126.1689,Leonardo Family Beach House 1

In [39]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [40]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [42]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))